*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//media query
$bigLaptop: 1600px;
$smallLaptop: 1240px;
$smallLaptop2: 1020px;
$tablet: 760px;
$phone1: 470px;
// $phone2: 375px;



html {
    font-size: 61.5%;

    @media only screen and (max-width: $bigLaptop) {
        font-size: 60%;
      }

    @media only screen and (max-width: $smallLaptop) {
        font-size: 58%;
      }

    @media only screen and (max-width: $tablet) {
        font-size: 56%;
      }   

    @media only screen and (max-width: $phone1) {
        font-size: 53%;
    }  

    
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(font/SpaceGrotesk-VariableFont_wght.ttf);
}


:root {
    --color-white: hsl(0, 0%, 100%);
    --light-violet: hsl(270, 3%, 87%);
    --dark-violet-1:  hsl(279, 6%, 55%);
    --dark-violet-2: hsl(278, 68%, 11%);
    --error: hsl(0, 100%, 66%);
    --error-rgba: hsla(0, 88%, 51%, 0.207);
    --success: hsl(117, 97%, 26%);
    --success-rgba: hsla(117, 99%, 57%, 0.064);
}


body {
    font-family: 'SpaceGrotesk', sans-serif;

}

.container {
  display: flex;
  
  @media only screen and (max-width: $smallLaptop2) {
    flex-direction: column;
   
  }

  height: 100vh;
}

.image-box {
    position: relative;
    width: 30%;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $smallLaptop2) {
        height: 40%;
        width: 100%;
        flex-shrink: 0;
      }

    @media only screen and (max-width: $phone1) {
        height: 35%;
        background-image: url(images/bg-main-mobile.png);
    }

    
    


    .card-box {
  
        &-back, &-front {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 45rem;
            height: 25rem;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;

            @media only screen and (max-width: $bigLaptop) {
                width: 43rem;
                transform: translate(-53%, -50%);

             }

            @media only screen and (max-width: $smallLaptop) {
                width: 38rem;
                transform: translate(-55%, -45%);
             }

            @media only screen and (max-width: $smallLaptop2) {
                transform: translate(-10%, 0%);
              }

            @media only screen and (max-width: $tablet) {
                transform: translate(-25%, 0%);
              }

            @media only screen and (max-width: $phone1) {
                width: 33rem;
                transform: translate(-30%, 15%);
            }
 
        }
        
        &-back {
            font-weight: 600;
            font-size: 1.8rem;
            color: var(--color-white);
            padding: 2rem;
            background-image: url(images/bg-card-back.png);
            top: 61%;
            left: 100%; 
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;

            @media only screen and (max-width: $bigLaptop) {
               top: 66%;
            }

            @media only screen and (max-width: $smallLaptop) {
                top: 67%;
                font-size: 1.6rem;
             }

             
            @media only screen and (max-width: $smallLaptop2) {
                left: 43%;
                top: 18%;
                z-index: 1;
              }

            @media only screen and (max-width: $phone1) {
               top: 11%;
            }

           
        
            .cvc-detail {
             margin-right: 3.5rem;
             margin-top: -1rem;

             
            @media only screen and (max-width: $bigLaptop) {
                margin-top: -2rem;
             }

             @media only screen and (max-width: $smallLaptop) {
                margin-right: 2.6rem;
                margin-top: -4.5rem;
             }

             
             @media only screen and (max-width: $phone1) {
                margin-top: -7.5rem;
                margin-right: 1.6rem;
                font-size: 1.4rem;
            }
         
            }
        }

        &-front {
            top: 30%; 
            left: 80%; 
            background-image: url(images/bg-card-front.png);

            @media only screen and (max-width: $smallLaptop2) {
                left: 30%;
                top: 45%;
                z-index: 2;
              }


            .no-name-date {
                @media only screen and (max-width: $smallLaptop) {
                    margin-top: 10%;
                 }
             }
             
            &-details {
                padding: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 2rem;
                width: 100%;
                color: var(--color-white);

                @media only screen and (max-width: $smallLaptop) {
                    justify-content: flex-start;
                 }

                @media only screen and (max-width: $phone1) {
                    gap: 1rem;
                 }

                 

                .card-logo {
                    width: 9rem;

                    @media only screen and (max-width: $smallLaptop) {
                        width: 8rem;
                     }

                    @media only screen and (max-width: $phone1) {
                       width: 7rem;
                    }
                
                }
                
                .card-no-detail {
                    font-size: 2.8rem;
                    font-weight: 500;
                    letter-spacing: 2.5px;
                    margin-bottom: 2.5rem;

                    @media only screen and (max-width: $smallLaptop) {
                        font-size: 2.2rem;
                        margin-bottom: 2rem;
                     }

                    @media only screen and (max-width: $phone1) {
                        font-size: 2rem;
                        margin-bottom: 1.5rem;
                    }

                }

                .front-box-1 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: 1.2px;

                    @media only screen and (max-width: $phone1) {
                        font-size: 1.2rem;
                     }
                
                }
            }
        }
    }

}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: opacity 0.5s ease;

    &-form{
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 1rem;
    
    @media only screen and (max-width: $smallLaptop) {
        width: 40rem;
     }

     @media only screen and (max-width: $smallLaptop2) {
        width: 45rem;
        margin-top: 10rem;
     }

     
     @media only screen and (max-width: $phone1) {
        margin-top: 0;
        padding: 0 2rem;
        width: 40rem;
    }
     
     }

    label {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        color: var(--dark-violet-2);
        margin-bottom: 0.5rem;

    }

    input {
        padding: 1rem;
        font-size: 1.8rem;
        font-family: inherit;
        font-weight: 600;
        border: none;
        border: 1px solid var(--dark-violet-1);
        border-radius: 7px;
        margin-bottom: 1rem;

     
        &::placeholder {
            font-weight: 500;
        }

       
    }

    //containers 
    .name-container, .card-container, .date-box, .cvc-box, .more-detail-box {
        margin-bottom: 1rem;
    }

    .name-container {
        
        #name {
            width: 100%;
        }
    }

    .card-container {

        #cardno {
            width: 100%;
        }
    }

    .date-box {
        width: 90%;
    }

    .cvc-box {
        width: 100%;
    }

    .more-detail-box {
        display: flex;
        align-items: center;
  
        #month, #year {
            width: 40%;
        }

        #month {
            margin-right: 0.7rem;
        }

        #cvc {
            width: 100%;
        }

    }
}

.validation {
    font-size: 1.4rem;
    color: var(--error);

    @media only screen and (max-width: $phone1) {
        font-size: 1.2rem;

      }
}

.error {
    border: 1px solid var(--error)!important;
    background-color: var(--error-rgba);

    &:focus {
        outline: none;
        border-color: var(--error); 
        box-shadow: 0 0 0 1px var(--error);
    }
}


.success {
    border: 1px solid var(--success)!important;
    background-color: var(--success-rgba);

    &:focus {
        outline: none;
        border-color: var(--success);
        box-shadow: 0 0 0 1px var(--success); 
    }

}

.btn {
    padding: 1.5rem;
    border: none;
    background-color: var(--dark-violet-2);
    color: var(--color-white);
    font-family: inherit;
    font-size: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: var(--dark-violet-1);
        
    }
}

.complete-trans {
    display: none;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    transition: opacity 0.5s ease;

    
    @media only screen and (max-width: $smallLaptop2) {
        margin-top: 8rem;
      }


    img {
        @media only screen and (max-width: $smallLaptop) {
            width: 7.5rem;
            
         }

         @media only screen and (max-width: $phone1) {
            width: 7rem;

          }
    }

    &-title {
       font-size: 6rem;
       font-weight: 400;
       text-transform: uppercase;
       letter-spacing: 4px;
       color: var(--dark-violet-2);

       @media only screen and (max-width: $bigLaptop) {
        font-size: 5.5rem;

     }

    @media only screen and (max-width: $smallLaptop) {
        font-size: 5.2rem;
        
     }

    @media only screen and (max-width: $smallLaptop2) {
        font-size: 5rem;
      }

    @media only screen and (max-width: $tablet) {
       font-size: 4.8rem;
      }

    @media only screen and (max-width: $phone1) {
      font-size: 4.5rem;
    }
    }

    &-detail {
        font-size: 2rem;
       color: var(--dark-violet-1);
       margin-bottom: 4rem;


    @media only screen and (max-width: $smallLaptop2) {
        font-size: 1.8rem;

      }

    @media only screen and (max-width: $tablet) {
       font-size: 1.6rem;
      }

 
    }

    .continue {
        width: 30rem;

    }
}